<h1>New parking usage history</h1>

<%= render "form", parking_usage_history: @parking_usage_history %>

<br>

<div>
  <%= link_to "Back to parking usage histories", parking_usage_histories_path %>
</div>
