<h1>駐車場区画使用履歴修正</h1>

<%= render "form", parking_usage_history: @parking_usage_history %>

<br>

<div>
  <%= link_to "駐車場区画使用履歴を表示する", @parking_usage_history %> |
  <%= link_to "駐車場区画使用履歴一覧に戻る", parking_usage_histories_path %>
</div>
