<p style="color: green"><%= notice %></p>

<h1>駐車場区画</h1>

<div id="parking_areas">
  <% @parking_areas.each do |parking_area| %>
    <%= render parking_area %>
    <p>
      <%= link_to "駐車場区画を表示する", parking_area %>
    </p>
  <% end %>
</div>

<%= link_to "駐車場区画新規登録", new_parking_area_path %>
