<div id="<%= dom_id payment_destination %>">
  <p>
    <strong>支払い先名:</strong>
    <%= payment_destination.payment_destination_name %>
  </p>

  <p>
    <strong>支払い先機関名:</strong>
    <%= payment_destination.institution %>
  </p>

  <p>
    <strong>口座番号:</strong>
    <%= payment_destination.account_number %>
  </p>

</div>
