<div id="<%= dom_id payment_destination %>">
  <p>
    <strong>Payment destination name:</strong>
    <%= payment_destination.payment_destination_name %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= payment_destination.institution %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= payment_destination.account_number %>
  </p>

</div>
