<p style="color: green"><%= notice %></p>

<h1>Payment destinations</h1>

<div id="payment_destinations">
  <% @payment_destinations.each do |payment_destination| %>
    <%= render payment_destination %>
    <p>
      <%= link_to "Show this payment destination", payment_destination %>
    </p>
  <% end %>
</div>

<%= link_to "New payment destination", new_payment_destination_path %>
