<div id="<%= dom_id parking_area %>">
  <p>
    <strong>Parking area name:</strong>
    <%= parking_area.parking_area_name %>
  </p>

  <p>
    <strong>Parking:</strong>
    <%= parking_area.parking_id %>
  </p>

</div>
