<h1>Editing parking area</h1>

<%= render "form", parking_area: @parking_area %>

<br>

<div>
  <%= link_to "Show this parking area", @parking_area %> |
  <%= link_to "Back to parking areas", parking_areas_path %>
</div>
