<div id="<%= dom_id parking_user %>">
  <p>
    <strong>駐車場使用者名:</strong>
    <%= parking_user.parking_user_name %>
  </p>

  <p>
    <strong>備考:</strong>
    <%= parking_user.remark %>
  </p>

</div>
