<h1>Editing parking user</h1>

<%= render "form", parking_user: @parking_user %>

<br>

<div>
  <%= link_to "Show this parking user", @parking_user %> |
  <%= link_to "Back to parking users", parking_users_path %>
</div>
