<div id="<%= dom_id parking %>">
  <p>
    <strong>Parking name:</strong>
    <%= parking.parking_name %>
  </p>

  <p>
    <strong>Payment destination:</strong>
    <%= parking.payment_destination_id %>
  </p>

</div>
